@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


:root {
    --primary-color: #fff;



    --body-font: 16px;

}

h1 {
    color: #000;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--body-font);
    color: var(--primary-color);
    overflow-x: hidden;
    position: relative;
}